extends layout
block content
	.play-card.effect7
		div(class="remove-float center-block text-center")
			if (user)
				h1 Hola #{user.username}
				hr
				a(href='/truco')
					button.btn.btn-primary(type="button") Ir a un juego
				| 		
				a(href="/logout")
					button.btn.btn-danger(type="button") Cerrar sesión
				| 
				a(href="/truco")
					button.btn.btn-default(type="button") Atrás
			if (!user)
				h1 No has iniciado sesión
				hr
				a(href='/login')
					button.btn.btn-primary(type="button") Tengo cuenta
				| 
				a(href='/register')
					button.btn.btn-primary(type="button") No tengo cuenta
		br
	.play-card.effect7
		div(class="remove-float center-block text-center")
			h1 Partidas ganadas
			h3 #{user.gw} de #{user.gl}
			| 
			h3 Efectividad
				h1#porcentaje
			//canvas(id='stats' width='600', height='400')
	script(src='/javascripts/stats.js', type='text/javascript')
	script(src='https://code.jquery.com/jquery-1.10.2.js')
	script.
		console.log ("----"+'#{user.gw}'+"-/-"+'#{user.gw}');
		console.log ("----"+document.getElementById("user.gw") );
		console.log ("----"+document.getElementById("user.gl") );
		var a = 0;
		var b = 0;
		var resul = 0;
		a = a+'#{user.gw}';
		b = b+'#{user.gl}';
		console.log ("----a + b: "+ (a+b) );
		if ((a+b)>0){
			resul = '#{user.gw}' / '#{user.gl}';
		else{
			result = " - ";
		console.log ("----"+resul);
		document.getElementById("porcentaje").innerHTML = resul;
